{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block css %}
<link rel="stylesheet" href="{% static 'distribution/css/projects.css' %}">
{% endblock %}

{% block content %}
<div id="wrapper" class="container">
    <div id="client-list" class="list-group" status="loading">
    </div>
</div> <!-- !wrapper -->
{% endblock %}

<!-- js -->
{% block post_main_script %}
{% compress js %}
<script type="text/javascript">var scan_url="/scan/{{scan_data_task.task_id}}";</script>
<script src="{% static 'distribution/js/projects.js' %}"></script>
{% endcompress %}
{% endblock %}
