{% extends 'base/base.0.1.html' %}
{% load staticfiles %}

{% block title %} Start {{user}} {% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'users/css/start/start.0.1.css' %}">{% endblock %}

{% block content %}
<div id="wrapper" class="container">
    <div id="job-list" class="list-group">
        {% for job in jobs %}
        <a href="/transcription/{{job.pk}}" class="list-group-item">#{{forloop.counter}}: {{job.client}}<span class="right-label">{{job.active_transcriptions}} of {{job.transcriptions.all|length}}</span></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
