html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}

.panel {
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

#wrapper {
  width:800px;
}

#interface {
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-150px;
  margin-left:-450px;
  height:300px;
  width:900px;
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#indicators {
  margin-left:15px;
  width:700px;
}

#audio-controls {
  margin-top:15px;
}

#audio-control-label {
  margin-top:15px;
  margin-left:15px;
}

#done-group {
  margin-top:15px;
  margin-left:10px;
}

#typeahead-input-group {
  top:113px;
  width:500px;
  left:15px;
}

#typeahead {
  width:455px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#typeahead-input-group span.input-group-btn {
  position:relative;
  top:-2px;
}

span.glyphicon-pause {
  display:none;
}

div.transcription {
  position:absolute;
  padding:15px;
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  display:none;
}

div.transcription.transcription1 {
  display:block;
}

div.transcription div.panel {
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  margin-bottom:15px;
}

div.transcription span {
  display:inline-block;
}

div.tick {
  margin-left:10px;
}

div.indicator {
  margin-bottom:5px;
  margin-right:5px;
  border:0px;
}

div.indicator.indicator-loading {
  width:42px;
  height:34px;
  background-size:200%;
  background-repeat:no-repeat;
  background-position:center;
}

div.indicator.indicator-ok {
  display:none;
  width:42px;
  height:34px;
}
